<div class="container"> 

  <h1>New Message</h1> 

  <% if @message.errors.any? %> 
    <p>Something went wrong:</p>
    <ul> 
      <% @message.errors.full_messages.each do |message| %>
        <li><%= message %></li> 
      <% end %>
    </ul> 
  <% end %> 


  <%= form_for @message do |f| %> 
    <div class="form-group"> 
      <%= f.label :to %> 
      <%= f.text_field :to %>
    </div>
    <div class="form-group">
      <%= f.label :from %> 
      <%= f.text_field :from %>
    </div>
    <div class="form-group"> 
      <%= f.label :body %>  
      <%= f.text_field :body %> 
    </div>
    <div><%= f.submit %></div> 
  <% end %> 

</div> 